{{#if resume.interests.length}}
<div class="container interests-container">
  {{> title value="Interests"}}

  <ul class="minimal">
    {{#each resume.interests}}
        {{#if name}}
          <li><h6>{{name}}</h6></li>
        {{/if}}
    {{/each}}
  </ul>
</div>
{{/if}}
