.page {
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  padding: 0;
  @include clearfix();
}

.left-column {
  float: left;
  width: $aside-width;
  margin-right: $aside-margin;
  word-wrap: break-word;
  padding: 20px;
}

.right-column {
  width: auto;
  overflow: hidden;
  padding: 10px 20px 20px 20px;
}

.accent-container {
  background-color: $primary-color;
  color: $white;
  margin-left: -20px;
  margin-top: -20px;
}

.item {
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}
