@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic|Exo:300,400,700,900&display=swap);

// Font Mixins

@mixin OpenSans($weight: 400, $isItalic: false) {
  font-family: $primary-font;
  font-weight: $weight;

  @if $isItalic==true {
    font-style: italic;
  }
}

@mixin Exo($weight: 400) {
  font-family: $secondary-font;
  font-weight: $weight;
}
