/*----- Colors -----*/

$white                  : #fff;
$gray-darkest           : #333;
$gray-darker            : #666;
$gray-dark              : #999;
$gray                   : #ccc;
$gray-light             : #ddd;
$gray-lighter           : #eee;
$gray-lightest          : #f8f8f8;

$slate-gray             : #39424B;
$slate-green            : #56817A;
$dark-color             : #242D35;

$primary-color          : $dark-color;
$secondary-color        : $slate-gray;

$link-color             : #2895F1;

/*----- Fonts -----*/

$primary-font               : 'Open Sans', Helvetica, Arial, sans-serif;
$secondary-font             : 'Exo', Helvetica, Arial, sans-serif;

/*----- Dimensions and sizes -----*/

$print-width            : 8.5in;
$print-height           : 11in;
$page-width             : 8.5in;
$page-height            : 11in;

$mobile-width           : 435px;
$tablet-width           : 768px;
$laptop-width           : 992px;
$desktop-width          : 1200px;
$retina-width           : 1920px;

$font-unit              : 4px;
$profile-pic-size       : 52px;
$aside-width            : 250px;
$aside-margin           : 20px;
$pad-unit               : 5px;
